<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script type="text/javascript">


            $("document").ready(function(){
            $("#input_form").submit(function (event){
                event.preventDefault();
                $("#output_list").empty();
                $("#spinner").show();
                    $.ajax({
                        url: "/result",
                        type : "POST",
                        //contentType : "application/JSON",
                        data : $("#input_form").serialize(),
                        success : function (data){
                            console.log("success");
                            $("#spinner").hide();
                            $.each(data, function (index, value){
                                $("#output_list").append("<li>" + value + "</li>");
                            })
                            //$("#output_div").text("Result:");
                        }
                    });
                });
            });



        </script>
    <script type="text/javascript">
        $("document").ready(function(event){
            $("#btnfio2").click(function(){
                $("#output_list").empty();
                $("#fio2form").css('display', 'inline-block');
                $("#popup").show();
                $("#device").val("0");
                $("#o2flow").children().remove();
                $("#o2flow").parents('tr').show();
                $("#colorcode").parents('tr').hide();
                for (i=1; i<= 6; i++){
                    $("#o2flow").append($('<option></option>').attr('value', i.toString()).text(i.toString()));
                }
            })
        })

    </script>

    <script type="text/javascript">
        $("document").ready(function(event){
            $("#fio2form").submit(function(event){
                event.preventDefault();
                $("#popup").hide();
                $("#spinner").show();
                $.ajax({
                    url : "/fio2",
                    type : "POST",
                    data : $("#fio2form").serialize(),
                    success : function (data){
                        $("#spinner").hide();
                        $("#fio2").val(data);
                    }
                })
            })
        })

    </script>

    <script type="text/javascript">
        $("document").ready(function (){
            $("#device").change(function (){
                $("#o2flow").children().remove();
                device = $(this).children("option:selected").val();
                if (device == "0"){
                    for (i=1; i<= 6; i++){
                        $("#o2flow").parents('tr').show()
                        $("#o2flow").append($('<option></option>').attr('value', i.toString()).text(i.toString()));
                        $("#colorcode").parents('tr').hide()
                    }
                } else if (device == "1"){
                    for (i=6; i<= 10; i++){
                        $("#o2flow").parents('tr').show()
                        $("#o2flow").append($('<option></option>').attr('value', i.toString()).text(i.toString()));
                        $("#colorcode").parents('tr').hide()
                    }
                } else if (device == "2"){
                    for (i=10; i<=15; i++){
                        $("#o2flow").parents('tr').show()
                        $("#o2flow").append($('<option></option>').attr('value', i.toString()).text(i.toString()));
                        $("#colorcode").parents('tr').hide()
                    }
                }else {
                    $("#colorcode").parents('tr').show()
                    $("#o2flow").parents('tr').hide()
                    $("#o2flow").append($('<option></option>').attr('value', "4").text("4"));
                }
            })
        })
    </script>
    <script type="text/javascript">
        $("document").ready(function (){
            $("input").keydown(function (){
                $("#output_list").empty();
            })
        })
    </script>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Quicksand', sans-serif;
            text-align: center;
        }
        div {
            justify-content: center;
            text-align: center;
        }
        .main_table  {
            align-self: center;
            margin: 0 auto;
        }
        .main_table tr:nth-child(even) {
            background-color: #e0fcfc;
            width: 100%;
        }
        ul {
            list-style-type: none;
            background-color: linen;
            white-space: nowrap;
        }
        .fio2container{
            width: fit-content;
            display : none;
            border: 3px solid #f1f1f1;
            z-index: 9;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        select{
            width: 100%;
        }
        .spinner{
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border: 10px solid #f3f3f3;
            border-radius: 50%;
            border-top: 10px solid #3498db;
            width: 50px;
            height: 50px;
            -webkit-animation: spin 2s linear infinite;
            animation: spin 2s linear infinite;
        }
        @-webkit-keyframes spin {
            0% {-webkit-transform: rotate(0deg);}
            100% {-webkit-transform: rotate(360deg);}
        }
        @keyframes spin {
            0% {transform: rotate(0deg);}
            100% {transform: rotate(360deg);}
        }
        #popup{
            background-color: mintcream;
        }
    </style>
    </head>
<body>
<div class="container">
    <form id="input_form"  method="POST" action="/result">
        <div class="input">
            <table class="main_table">
                <tr>
                    <th colspan="3">Analysis Of ABG : <i>Boston Method</i></th>
                </tr>
                <tr>
                    <td><label>Age </label></td>
                    <td><input type="number" step="any" class="container" id="age" name="age" placeholder="Enter Age of the Patient"></td>
                    <td><label>Years</label></td>
                </tr>
                <tr>
                    <td><label>pH </label></td>
                    <td><input type="number" step="any" class="container" id="ph" name="ph" placeholder="Enter pH value"></td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>PO<sub>2</sub> </label></td>
                    <td><input type="number" step="any" class="container" id="po2" name="po2" placeholder="Enter PO2 value"></td>
                    <td><label>mmHg</label></td>
                </tr>
                <tr>
                    <td><label>PCO<sub>2</sub></label></td>
                    <td><input type="number" step="any" class="container" id="pco2" name="pco2" placeholder="Enter PCO2 value"></td>
                    <td><label>mmHg</label></td>
                </tr>
                <tr>
                    <td><label>HCO<sub>3</sub></label></td>
                    <td><input type="number" step="any" class="container" id="hco3" name="hco3" placeholder="Enter HCO3 value"></td>
                    <td><label>mEq/L</label></td>
                </tr>
                <tr>
                    <td><label>Na<sup>+</sup></label></td>
                    <td><input type="number" step="any" class="container" id="na" name="na"  placeholder="Enter Na value"></td>
                    <td><label>mEq/L</label></td>
                </tr>
                <tr>
                    <td><label>Cl<sup>-</sup></label></td>
                    <td><input type="number" step="any" class="container" id="cl" name="cl" placeholder="Enter Cl value"></td>
                    <td><label>mEq/L</label></td>
                </tr>
                <tr>
                    <td><label>Albumin</label></td>
                    <td><input type="number" step="any" class="container" id="alb" name="alb" placeholder="Enter Albumin value"></td>
                    <td><label>mg/dl</label></td>
                </tr>
                <tr>
                    <td><label>FIO<sub>2</sub></label></td>
                    <td><input type="number" step="any" class="container" id="fio2" name="fio2" placeholder="Enter FIO2 value" value="0.21"></td>
                    <td><button name="btnfio2" id="btnfio2" type="button">Find</button></td>
                </tr>
                <tr>
                    <td><label>P<sub>atm</sub></label></td>
                    <td><input type="number" step="any" class="container" id="patm" name="patm" placeholder="Enter Atmospheric Pressure" value="760" ></td>
                    <td><label>mmHg</label></td>
                </tr>
                <tr>
                    <td><label>Vapor Pressure</label></td>
                    <td><input type="number" step="any" class="container" id="vp" name="vp" placeholder="Enter Vapour Pressure" value="47"></td>
                    <td><label>mmHg</label></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button type="submit" class="submit-button" id= "submit" form="input_form">Evaluate</button></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </form>
    <div id="output_div">
        <div id="spinner" class="spinner"></div>
        <ul id="output_list">

        </ul>
    </div>
</div>
<div id="popup" class="fio2container">
    <form id="fio2form" method="POST" action="/fio2">
        <table>
            <tr>
            <td><label for="device">Select O<sub>2</sub> Delivery Type: </label></td>
            <td><select name="device" id="device" >
                <option value="0">Nasal Prong</option>
                <option value="1">Face Mask</option>
                <option value="2">NRBM</option>
                <option value="3">Venturi Mask</option>
            </select></td>
            </tr>
            <tr>
            <td><label for="o2flow">O<sub>2</sub> Flow (L/min): </label></td>
            <td><select name="o2flow" id="o2flow" >

            </select></td>
            </tr>
            <tr>
            <td><label for="colorcode" id="lblcolorcode">Color Code</label></td>
            <td><select name="colorcode" id="colorcode" >
                <option value="0">Blue</option>
                <option value="1">White</option>
                <option value="2">Orange</option>
                <option value="3">Yellow</option>
                <option value="4">Red</option>
                <option value="5">Green</option>
            </select></td>
            </tr>
            <tr>
                <td align="center" colspan="2"><button type="submit" id="fio2btn" form="fio2form" >Submit</button></td>
            </tr>
        </table>
    </form>

</div>
</body>
</html>

